html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown-menu {
  height: 200px;
  overflow-y: auto;
}

// tr > th:not(:first-child) {
//   text-align: center;
// }

// tr > td:not(:first-child) {
//   text-align: center;
// }

$primary: #06A77D;
$secondary: #052F5F;
$danger: red;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  danger: $danger
);

$medium: 1024px;

@import "bootstrap";
