html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

tr > th:not(:first-child) {
  text-align: right;
}

tr > td:not(:first-child) {
  text-align: right;
}

footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
}

$primary: #06A77D;
$secondary: #052F5F;
$danger: red;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  danger: $danger
);

@import "bootstrap";

.form-check-input:checked {
  border-color: $secondary;
  background-color: $secondary;
}

.navbar img {
  max-width: 30px;
  max-height: 30px;
}

@media (max-width: 425px) {
  .navbar-brand {
    margin: 0;
  }
}