$extraSmall: 480px;
$small: 720px;
$medium: 1080px;
$desktop: 1200px;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 2%;
}

.form {

    @media screen and (min-width: $desktop) {
        width: 40%;
        margin: 0 2%;
    }

    @media screen and (min-width: $medium) and (max-width: $desktop) {
        margin: 0 20%;
        padding: 0 100px;
    }

    @media screen and (min-width: $small) and (max-width: $medium) {
        margin: 0 100px;
    }

    @media screen and (max-width: $small) {
        margin: 0 20px;
    }
    
}

.table {
    margin-top: 4rem;

    @media screen and (min-width: $desktop) {
        width: 40%;
        margin: 0 2%;
    }

    @media screen and (min-width: $medium) and (max-width: $desktop) {
        margin-left: 20%;
        margin-right: 20%;
        padding: 0 100px;
    }

    @media screen and (min-width: $small) and (max-width: $medium) {
        margin-left: 100px;
        margin-right: 100px;
    }

    @media screen and (max-width: $small) {
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

.table .tbody > :first-child {
    border-top: 2px solid currentColor;
}

.content {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.inlineGroupFormLabel {
    margin: 0;
}

.inlineGroup {
    display: flex;
    
    @media screen and (min-width: $extraSmall) {
        flex-direction: row;        
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    @media screen and (max-width: $extraSmall) {
        flex-direction: column;
    }
}

.inlineGroup p {
    margin: 0;

    @media screen and (max-width: $extraSmall) {
        margin-top: 0.5rem;
    }
}

.inlineChildren {
    margin-top: 0.5rem;

    @media screen and (min-width: $extraSmall) {
        width: 35%;
    }

    @media screen and (max-width: $extraSmall) {
        width: 100%;
    }
}